include README.md
include LICENSE
include percell/setup/requirements.txt
include percell/setup/requirements_cellpose.txt
include percell/setup/install.py
include install

recursive-include percell/config *.json
recursive-include percell/bash *.sh
recursive-include percell/macros *.ijm

global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store 