include README.md
include LICENSE
include src/setup/requirements.txt
include src/setup/requirements_cellpose.txt
include src/setup/install.py
include install

recursive-include src/config *.json
recursive-include src/bash *.sh
recursive-include src/macros *.ijm

global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store 